<p id="notice"><%= notice %></p>

<h1>Temas</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temas.each do |tema| %>
      <tr>
        <td><%= tema.nome %></td>
        <td><%= link_to 'Ver posts', tema, class:"btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_tema_path(tema), class:"btn btn-default" %></td>
        <td><%= link_to 'Remover', tema, method: :delete,class:"btn btn-default", data: { confirm: 'Tem certeza que deseja remover?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Tema', new_tema_path, class:"btn btn-default" %>
