<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<% end %>

<h1 class="d-flex justify-content mb-4">
	<span>Posts</span>
</h1>

<% @posts.each do |post| %>
	<div class="card post-card" style="margin: 12px 0;">
		<div class="card-body">
			<div class="row">
				<div class="col-md-11">
					<h2 class='card-title mb-1 text-dark'><%= post.titulo %></h2>
					<p class="text-secudary mb-0" style="word-break: break-all; max-width: 900px; font-size: 18px; margin: 12px 0;"><%= post.texto %></p>
					<p style="font-size: 16px;">Autor: <%= post.autor %></p>

					<%= button_to 'Remover', post, method: :delete, class:"btn", data: {confirm: "Tem certeza que deseja remover?"} %>
				</div>
			</div>
		</div>
	</div>
<% end %>
