<% @post.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% end %>

<%= form_for @post do |form| %>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <%= form.label :titulo %> 
                <%= form.text_field :titulo, class:"form-control" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <%= form.label :texto %>  
                <%= form.text_area :texto, class:"form-control", rows:4 %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <%= form.label :tema %>  
                <%= form.collection_select :tema_id, @tema, :id, :nome, {}, class:"form-control" %>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <%= form.label :autor %>  
                <%= form.text_field :autor, class:"form-control" %>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <%= form.submit "Postar", class:"btn btn-primary" %>
        <%= link_to 'cancel', root_path, :class => 'btn' %>
    </div>
<% end %>